@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

#root{
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #ff5454, #4ac9ef);
  font-family: 'Quicksand', sans-serif;
}

.chatBox {
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.chatBox > div > div:last-child {
  scroll-snap-align: end;
}

.ant-collapse-content-box {
  padding: 0px 0px 8px 8px !important;
}